@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .container {
    margin-top: 8rem;
  }
  //   Text-styles
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  //Navbar
  .navbar {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center !important;
    justify-content: center;
  }
  .navbar a {
    padding: 1rem 2rem !important;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: 1rem;
  }
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  // profile
  .profile {
    grid-template-columns: 1fr !important;
    text-align: center;
    ul {
      display: none;
    }
  }
  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github" !important;
  }

  .profile-about {
    .skills {
      flex-direction: column !important;
    }
  }

  .post {
    grid-template-columns: 1fr;
    a,
    button {
      padding: 0.3rem 0.4rem;
    }
  }
}
